# Introduction to R - programming : <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/R_logo.svg/724px-R_logo.svg.png" width=100 alt="Introduction to R programming " style="float:right">

##### Q. What is the file extension of R scripts? and, How to run R scripts?
**A.** The R script files are saved with **.R** extension. 
Example : " EDA_titanic.R  "

**To run R script:**

First, open your terminal or cmd with R enviornment activated. <br>
Second, run the following command : 
<br>`Syntax : Rscript \[ filename \].R`

Example  :
```>> Rscript EDA_titanic.R```

## Input - Output :

#### print() function : 
This function is used to print text passed to it on the screen. For example :

In [1]:
print("Welcome to R programming!")

[1] "Welcome to R programming!"

#### readline() function:
This function is used for accepting input from the user. By defualt the input is stored as character data type. For example :

In [2]:
user_name <- readline(prompt="Please Enter your name: ")

Please Enter your name: Pythagoras

In [3]:
# printing output stored in variable
print(user_name)

[1] "Pythagoras"

## Variables:
These are the containers which store the values in it. These variables or containers can hold different types of data values or data types in them. 

### Data Types in R :
There are many different types of data types objects in R, which are :
1. **Boolean :** Logical values - `TRUE` or `FALSE`
2. **Characters :** Strings or characters - `"Z"` , `"Welcome!"`
3. **Numeric :** Decial or Real values - `3.14`, `4`
4. **Integers :** Non decimal numbers - `4L`  
5. **Complex :** real + Imaginary numbers - `3+9i` ( Of the form: a+bi )


Lets create a string with variable name- 'greet' :

In [4]:
# 1. 
var_bool <- TRUE
# 2. 
var_greet <- "Welcome!"
# 3.
var_number <- 3.14
# 4.
var_int <- 4L
# 5.
var_cmplx <- 3+9i

To check the datatype of a variable we use the `typeof()` function. For example to check datatype of var_bool :

In [5]:
# Types of : 
# 1.
print("Type of var_bool : ")
typeof(var_bool)
# 2.
print("Type of var_greet : ")
typeof(var_greet)
# 3.
print("Type of var_number : ")
typeof(var_number)
# 4.
print("Type of var_int : ")
typeof(var_int)
# 5.
print("Type of var_cmplx : ")
typeof(var_cmplx)

[1] "Type of var_bool : "

[1] "logical"

[1] "Type of var_greet : "

[1] "character"

[1] "Type of var_number : "

[1] "double"

[1] "Type of var_int : "

[1] "integer"

[1] "Type of var_cmplx : "

[1] "complex"

## Variable Assignment operators:
The values to the variables can be assigned in three different ways :

|Assignment type|Syntax|
|--|--|
|**Leftward** operator | `[variable] <- [value]`|
|**Rightward** operator|`    [value] -> [variable]`|
|**Equals to** operator|` [variable] =  [value]`|

In [6]:
# 1. 
var_num <- 15.36
cat("Leftward  : ",var_num,"\n")

# 2. 
999.9 -> var_num
cat("Rightward : ",var_num,"\n")

# 3. 
var_num = 2L
cat("Equals to : ",var_num,"\n")

Leftward  :  15.36
Rightward :  999.9
Equals to :  2

## Different Operator types:
There are different types of operators :

### 1. **Arithmetic Operators:**
Arithmetic operations includes : 

| Arithmetic Operator | |
|--|--|
|**+**| Addition|
|**-**| Subtraction|
|**\***| Multiplication|
|**/**| Division|
|**%%**| Remainder|
|**^**| Exponent|
|**%/%**| Quotient|

For example :

In [7]:
var_num <- 44                     # Assignment 
cat("var_num =", var_num,"\n")

var_num = var_num + 6             # 44 + 6
cat("var_num =", var_num,"\n")

var_num = var_num - 20            # 50 - 20
cat("var_num =", var_num,"\n")

var_num = var_num * 2            # 30*2
cat("var_num =", var_num,"\n")

var_num = var_num / 3             # 60 / 3 
cat("var_num =", var_num,"\n")

var_num = var_num ^ 2             # 20^2 = 20*20 
cat("var_num =", var_num,"\n")

var_num = var_num %% 5             # 400 is divisible by 5. Hence Remainder = 0
cat("var_num =", var_num,"\n")

var_num <-400
var_num = var_num %/% 5            # when 400 / 5. Quotient = 80
cat("var_num =", var_num,"\n")

var_num = 44
var_num = 50
var_num = 30
var_num = 60
var_num = 20
var_num = 400
var_num = 0
var_num = 80

### 2. **Comparison Operators:**
This includes : 
| Relational Operator | |
|--|--|
|**<**| Less than |
|**>**| More than|
|**<=**| Less than equal|
|**>=**| Greator than equal|
|**==**| Equals |
|**!=**| Not Equals|

In [8]:
var_res <- 400 < 200
cat("400    <   200 =", var_res,"\n\n")

var_res <- 200 >= 200
cat("200    >=  200 =", var_res,"\n\n")

var_res <- 200%%2 != 0 
cat("200%%2 ==   0  =", var_res,"\n\n")

var_res <- 33 == 22
cat("33     !=   22 =", var_res,"\n")

400    <   200 = FALSE

200    >=  200 = TRUE

200%%2 ==   0  = FALSE

33     !=   22 = FALSE

### 3. **Logical Operators:**
These are used when we want to compare multiple conditions returning a boolean value. This includes : 
| Logical Operator | |
|--|--|
|**\|\|**| Logical OR |
|**!**| Logical NOT|
|**&&**| Logical AND|

For example consider :

In [9]:
# True  OR   FALSE  = TRUE
5<9     ||   1>2

[1] TRUE

In [10]:
# True  AND  FALSE  = FALSE
5<9     &&   1>2

[1] FALSE

In [11]:
# 1 is not equal to 5 = TRUE
1 != 5

[1] TRUE

### 4. **Membership Operators:**

| Membership Operator | |
|--|--|
|**%in%**| Used to check if an element is present in other object |

In [12]:
var_vector = c(1:5)
var_vector

[1] 1 2 3 4 5

In [13]:
# since number 5 is present in vector "var_vector" 
# output : TRUE

5 %in% var_vector

[1] TRUE

In [14]:
# since number 15 is NOT present in vector "var_vector" 
# output : FALSE

15 %in% var_vector

[1] FALSE

## Vectors :
Vector is a collection of multiple elements which are of the same datatype. 
These can be created using the `c()` function.

In [15]:
# Vector example:
var_vector <- c(1,2,3,5,7)
print(var_vector)

# printing typeof vector 
print(typeof(var_vector))

[1] 1 2 3 5 7
[1] "double"

If a vector is created with different types of data type elements present inside then it forces the element to be a higher data type <br>i.e. **boolean < integer < double < character**.

Consider the following example:

In [16]:
# Below is a vector with a single Integer number
var_vector <- c( 10L )
print(typeof(var_vector))

[1] "integer"

In [17]:
# below is a vector with a Integer number and a double number 
var_vector <- c( 10L , 3.14)
print(typeof(var_vector))

[1] "double"

In [18]:
# below is a vector with a Integer, double and a character datatype  
var_vector <- c( 10L , 3.14, "Pi value")
print(typeof(var_vector))

[1] "character"

## Lists :
List is an object which holds multiple elements like functions, vectors variables etc. It can be created using the `list()` function.

In [19]:
var_list <- list( 3.14, c(11,13,17), TRUE )
print(var_list)

[[1]]
[1] 3.14

[[2]]
[1] 11 13 17

[[3]]
[1] TRUE

## Matrices :
These are the 2-dimensional arrays arranged in the form of rows and columns, which can be created using the `matrix()` function.

For example:

In [20]:
# Creating a matrix of dimension (8,1)  
var_vector <- c(1:8)
var_matrix <- matrix( var_vector )
print(var_matrix)

     [,1]
[1,]    1
[2,]    2
[3,]    3
[4,]    4
[5,]    5
[6,]    6
[7,]    7
[8,]    8

In [21]:
# Matrix of dimenson (4,2)
var_vector <- c(1:8)
var_matrix <- matrix( var_vector, nrow=4,ncol=2 )
print(var_matrix)

     [,1] [,2]
[1,]    1    5
[2,]    2    6
[3,]    3    7
[4,]    4    8

## Arrays :
These are the multi-dimensional arrays arranged in the form of rows, column and depth, which can be created using the `array()` function.

For example: creating a three dimensional array with two layers of (1,3) matrix values: (11,22,33)  

of the form :
```
[ 
  [ 11 , 22 , 33 ],
  [ 11 , 22 , 33 ]
]

```

In [22]:
var_arr <- array(c(11,22,33),dim= c(1,3,2))
print(var_arr)

, , 1

     [,1] [,2] [,3]
[1,]   11   22   33

, , 2

     [,1] [,2] [,3]
[1,]   11   22   33

## if - else - switch statements :
These statements are responsible for checking if a set of conditions specified are TRUE or FALSE. These statements are resposible for controling the flow of code execution.  

### 1. **if statement:**

**Syntax :**
```
if ( [ condition ] ){
    # Block of code to execute
    # if condition is TRUE 
}
```
Consider example:

In [23]:
# Checking if 33 is divible by 3

var_num = 33
if (var_num %% 3==0){
    cat(var_num," is divisible by 3!\n")
}

33  is divisible by 3!

### 2. **if - else statement:**

**Syntax :**
```
if ( [ condition ] ){
    # Block of code to execute
    # if condition is TRUE 
} else {    #<------------------------------ PLEASE NOTE THIS SYNTAX
                                           # If this is not followed,
    # Block of code to execute             # then it will raise errors
    # if condition is FALSE 
}
```
Consider example:

In [24]:
# Checking if numebr 2 is divisible by 3 .

var_num = 2
if (var_num %% 3==0){
    cat(var_num," is divisible by 3!\n")
} else {
    cat(var_num," NOT divisible by 3!\n")
}

2  NOT divisible by 3!

### 3. **Switch statement:**

**Syntax :**
```
switch ( [choice], case1, case2, case3,...)

returns case
```


Consider example :

In [25]:
var_choice = 8

switch(var_choice, "I", "II", "III", "IV", "V", "VI", "VII", "VIII", "IX", "X")

[1] "VIII"

## Loop Statements:

There are 3 types of looping constructs, which are :

| | loop name|
|--|:-|
|**1.**|**for loop**|
|**2.**|**while loop**|
|**3.**|**repeat loop**|

### 1. **for loop:**

**Syntax :**
```
for ( item in vector ) {
    # Block of statemenst to execute
    # for each loop-item
}
```
Consider example:

In [26]:
# print Multiplication Table for number : 11
var_num = 11
cat("Multiplication Table for ",var_num," is as follows: \n\n")

for ( var_item in 1:10){
    cat(var_num," * ",var_item," = ",(var_num*var_item),"\n")
}

Multiplication Table for  11  is as follows:

11  *  1  =  11
11  *  2  =  22
11  *  3  =  33
11  *  4  =  44
11  *  5  =  55
11  *  6  =  66
11  *  7  =  77
11  *  8  =  88
11  *  9  =  99
11  *  10  =  110

In [27]:
# Another example:
restaurants = c( "McDonald", "Subway", "Starbucks", "Pizza Hut")
cat("Famous and biggest fast Food Chains are :\n\n")

for ( item in restaurants ){
    cat(item,"\n")
}

Famous and biggest fast Food Chains are :

McDonald
Subway
Starbucks
Pizza Hut

### 2. **while loop:**
**Syntax :**
```
while ( conditions ) {
    # Block of statements to execute
    # while the above condition is TRUE
}
```

So, an example for this :

In [28]:
# Checking even numbers between 1 and 15
var_counter = 1
while ( var_counter < 15 ){
    if (var_counter%%2 == 0 ){
        cat(var_counter," is a even number!\n")
    }
    var_counter=var_counter+1
}

2  is a even number!
4  is a even number!
6  is a even number!
8  is a even number!
10  is a even number!
12  is a even number!
14  is a even number!

### 3. **repeat loop:**
This looping construct is almost similar to the functioning of the while loop, but please note the syntax : 

**Syntax :**
```
repeat {
    
    # Block of statements to execute repeatedly
    
    if ( condition ){
        # Block of statements to execute 
        # before exiting the repeatloop
        break
    }
}
```

So, an example for this :

In [29]:
# Checking even numbers between 1 and 15
var_counter = 1

repeat {
    if (var_counter%%2 == 0 ){
        cat(var_counter," is a even number!\n")
    }

    var_counter = var_counter + 1

    if( var_counter > 15) {
        cat("\nExiting repeat loop.")
        break
    }
}

2  is a even number!
4  is a even number!
6  is a even number!
8  is a even number!
10  is a even number!
12  is a even number!
14  is a even number!

Exiting repeat loop.

## Loop Control statements :

There 2 types of loop control statements:

| | loop control name |use|
|--|:-|--|
|**1.**|**break statement**|terminate loop execution|
|**2.**|**next statement** |skip loop execution to next counter |

### 1. break :

In [30]:
# [ break ]
# break loop when var_counter > 9

for ( var_counter in 1:20 ){
    cat(var_counter,"\n")
    if ( var_counter > 9 ){
        break
    }
}

1
2
3
4
5
6
7
8
9
10

### 2. next :

In [31]:
# [ next ]
# when '!' and '.' is encontered skip them and print a space ' ' instead.

for ( var_char in c("Hi","!", "Welcome",".", "See you later","!",".") ){
    
    if ( (var_char == ".") || (var_char == "!") ){
        cat(" ")
        next
    }
    cat(var_char)
}

Hi Welcome See you later

## Functions:

These are blocks of code which run only when they are called. This is mostly used when wanting to reuse same code multiple times across the code.

**Syntax:**

**Function Definition :**
```
[function name] <- function( param1, param2, param3, ... ) {

    # Define body of function 
    # [ Blocks of code ]

    # return statement [optional] 
}
```
**Function calling:**
`>> [function name]( param1, param2, param3, ... )`

For example consider for **swaping two numbers:**

In [32]:
# Function defenition:
swap_2_num <- function( var1, var2) {
    var_temp <- var1
    var1 <- var2
    var2 <-var_temp
    return(c(var1,var2))
}

In [33]:
# User input for two numbers and swapping these numebrs

var1 <- as.integer(readline(prompt="Enter your First number  : "))
var2 <- as.integer(readline(prompt="Enter your Second number : "))

cat("\nThe numbers before swap are : \nA = ",var1,"  | B = ",var2,"\n\n")
cat("swappping!\n\n")

values = swap_2_num(var1,var2)

cat("The numbers before swap are : \nA = ",values[1],"  | B = ",values[2],"\n\n")

Enter your First number  : 11
Enter your Second number : 88

The numbers before swap are :
A =  11   | B =  88

swappping!

The numbers before swap are :
A =  88   | B =  11

### Functions with default parameters:

For example:

In [34]:
# function for multiplying two numbers 
multiply <- function(a,b=1){
    return(a*b)
}

# multiplying two numbers
result = multiply(5,10)     # 5 * 10
cat("result1 = ",result,"\n")

result = multiply(5)        # 5 * 1(default value when not specified in parameter) 
cat("result2 = ",result,"\n")

result1 =  50
result2 =  5

## String Manipulations :

### I. toupper() and tolower() function:
|function name|use|
|--|--|
|**toupper()**| To capitalise all the letters present in your string.|
|**tolower()**|To change all the letters present in your string to lower case letters.|

For example:

In [35]:
var_string = "Bottled Fresh Juices. Buy 1 get 1 Free!"

cat("Original   string = ",(var_string),"\n\n")
cat("Upper case string = ",toupper(var_string),"\n\n")
cat("Lower case string = ",tolower(var_string))

Original   string =  Bottled Fresh Juices. Buy 1 get 1 Free!

Upper case string =  BOTTLED FRESH JUICES. BUY 1 GET 1 FREE!

Lower case string =  bottled fresh juices. buy 1 get 1 free!

### II. Sub-String \[ substring() / substr() \] :

This function is used in order to extract specific slice from a string.

**Syntax:**

`substring( string_value, start, stop )`

or

`substr( string_value, start, stop )   `


An example :

In [36]:
# applying substring on a string slicing from 5th to 10th index

substring("watermelon",5,10)   # or substr("watermelon",5,10)

[1] "rmelon"

In [37]:
# applying substring on a vector of elements
x <- c("strawberry", "apple", "mango")
substr(x, 3, 5)

[1] "raw" "ple" "ngo"

### III. String concatenation \[ paste function \] :

**paste()** is a function used for concatenation of multiple strings into a single string.

**Syntax:**

`paste( str1, str2, str3, ... , sep=[separator value], collapse= [collapse value])`

|parameter| use |default|
|--|--|--|
|**sep**|Used to show the separation between the strings passed as parameters|`' '`|
|**collapse**|Used to remove the space between two strings|`NULL`|

Consider Example:

In [38]:
# Example for paste - sep :
str1 <- "Hi!"
str2 <- "Welcome back!"
str3 <- "How are you?"

paste(str1,str2,str3,sep="______")

[1] "Hi!______Welcome back!______How are you?"

In [39]:
# Example for paste - collapse :
paste(c("L", "M", "N"), 
      c("O", "P", "Q"), collapse = '')

[1] "L OM PN Q"

## Comments:
These are the additional text that is added to explain the written code. It is mainly used to make the code more understandable. Comments can be written either in a single line or across multiple lines.

### 1. **Single Line comments**:
This is written by typing a ' # ' at the start of the line. For example:

In [40]:
# This is a single line comment.

### 2. **MultiLine comments:** 
This is  written by enclosing the text in a false if condition.

In [41]:
if (FALSE){
    "This is a multiline comment enclosed 
        in an False if condition."
}

### Data Frames:
This is data stored in the form of rows and column as in a matrix such that each column contains a different type of data and each row is indexed.

**For example:** *consider the following dataframe which has data about housing:*

In [42]:
house_data <- data.frame(
    name     = c( "Beverly Hills", "Bright sunshine", "Golden Mist"),
    location = c( "Pashan", "Baner", "Aundh" ),
    bedrooms = c( 2, 1, 3 ),
    bathrooms= c( 2, 1, 4 ),
    kitchen  = c( 1, 1, 2 ),
    family_only= c( TRUE, FALSE, TRUE),
    price    = c( 10000, 7000 , 15000 )
)

house_data

  name            location bedrooms bathrooms kitchen family_only price
1 Beverly Hills   Pashan   2        2         1        TRUE       10000
2 Bright sunshine Baner    1        1         1       FALSE        7000
3 Golden Mist     Aundh    3        4         2        TRUE       15000

```
More comming soon...
```
<hr>